*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/extractor/
/hub2stream
/hub2stream.zip
/.idea/
/extensions-base/build/
/.kotlin/
/extensions/sports/build/classes/
/extensions/sports/build/intermediates/
/extensions/sports/build/kotlin/
/extensions/sports/build/tmp/
/extensions/aoneroom/build/classes/
/extensions/aoneroom/build/intermediates/
/extensions/aoneroom/build/kotlin/
/extensions/aoneroom/build/tmp/
/extensions/aoneroom-movies/build/classes/
/extensions/aoneroom-movies/build/intermediates/
/extensions/aoneroom-movies/build/kotlin/
/extensions/aoneroom-movies/build/tmp/
/extensions/livetv/build/classes/
/extensions/livetv/build/intermediates/
/extensions/livetv/build/kotlin/
/extensions/livetv/build/tmp/
/extensions/moviebox/build/classes/
/extensions/moviebox/build/intermediates/
/extensions/moviebox/build/kotlin/
/extensions/moviebox/build/tmp/
/extensions/roarzone/build/classes/
/extensions/roarzone/build/intermediates/
/extensions/roarzone/build/kotlin/
/extensions/roarzone/build/tmp/

